* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}

.header {
  background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0px;
}

.header-links a, .hero-box .container p {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}


.hero-box {
  background-color: #1F2937;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 96px;
}

.hero-box .container {
  width: 500px;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-box img {
  width: 500px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 36px;
}

.info-box .container {
  display: flex;
  flex-flow: row wrap;
  gap: 36px;
}

.info-thing {
  width: 150px;
  text-align: center;
}

.info-thing p, .quote-box p {
  padding: 0;
  margin: 0;
}

.outline-box {
  border: 6px;
  border-color: #3882F6;
  border-radius: 9px;
  border-style: solid;
  height: 150px;
  width: 150px;
  margin-bottom: 9px;
}

.quote-box {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px 220px;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote-attribute {
  font-size: 24px;
  font-weight: 900;
  color: #1F2937;
  text-align: right;
}


.button {
  text-align: center;
  font-weight: 700;
  background-color: #3882F6;
  border-radius: 14px;
  color: #f9faf8;
  padding: 12px;
  width: 112px;
}

.with-border {
  border: 2px;
  border-style: solid;
  border-color: #f9faf8;
}
